<nav class="d-flex flex-column justify-content-centerjustify-content-lg-between flex-lg-row navbar fixed-top navbar-dark bg-info">
  <%= link_to 'Home', root_path, :class => 'btn btn-outline-light' %>
  <div class="btn-group">
    <% if !current_user %>
      <%= link_to "Login", new_session_path, :class => 'btn btn-outline-light' %>
      <%= link_to "Sign Up", new_user_path, :class => 'btn btn-outline-light' %>
    <% else %>
      <%= link_to "Log Out", session_path, method: :delete, :class => 'btn btn-outline-light' %>
      <%= link_to current_user.username, current_user, :class => 'btn btn-outline-light' %>
    <% end %>
  </div>
</nav>

<p class='h3 mb-3 font-weight-normal text-center mt-5'>Create a New Question</p>
<% if notice %>
  <p class="alert alert-success mt-4" role="alert"><%= notice %></p>
<% end %>

<%= form_with model: @question, local:true do |form| %>
      <div class='h3 font-weight-normal text-left mt-5'>
        <%= form.label :title %>
          <div class="input-group">
            <%= form.text_field :title,:class => "form-control"%>
          </div>
      </div>
      
      <div class='h3 font-weight-normal text-left mt-5'>
        <%= form.label :body %>
        <div class="input-group">
            <%= form.text_area :body, :class => "form-control"%>
        </div>
      </div>

      <div class='h3 font-weight-normal text-left mt-5'>       
                  <%= form.label :image %>
                  </div> 
                  <div class="font-weight-normal text-left mt-5">
                  <%= form.file_field :image %>
                  <%= form.hidden_field :user_id, value: current_user.id %>
                  </div><br>
        <div class="input-group-prepend">     
                  <%= submit_tag "Submit Question", :class => "btn btn-lg btn-info btn-block" %>    
        
      </div>
<% end %>
