<nav class="d-flex flex-column justify-content-centerjustify-content-lg-between flex-lg-row navbar fixed-top navbar-dark bg-info">
  <%= link_to "Home", root_path, :class => 'btn btn-outline-light' %>
<div class="btn-group">
    <% if !current_user %>
      <%= link_to "Login", new_session_path, :class => 'btn btn-outline-light' %>
      <%= link_to "Sign Up", new_user_path, :class => 'btn btn-outline-light' %>
    <% else %>
      <%= link_to 'New Question', new_question_path, :class => 'btn text-info btn-light' %>
      <%= link_to "Log Out", session_path, method: :delete, :class => 'btn btn-outline-light' %>
      <%= link_to current_user.username, current_user, :class => 'btn btn-outline-light' %>
      
    <% end %>
</div>
</nav>

<% if notice %>
  <p class="alert alert-success mt-4" role="alert"><%= notice %></p>
<% end %>


<p class="media-body mb-0 small lh-125 border-bottom border-info">
<div class="form-group">
            <h3> Question:</h3>
            <%= @question.id %>
            <%= @question.title %>
  
</p>
</div>
  <div class="input-group">
  <div class="input-group-prepend">
  <div class="input-group-text">
            <h3> Description:</h3>
            <%= @question.body %>
    
  </div>
  </div>
  </div>
              
<div>
<small class="text-muted text-center">questioned
      <% if (Time.now - @question.updated_at).to_i < 60 %>
        <%= (Time.now - @question.created_at).to_i %> sec. ago
        <% elsif (Time.now - @question.updated_at).to_i < 3600 %>
        <%= (Time.now - @question.created_at).to_i / 60 %> min. ago
        <% elsif (Time.now - @question.updated_at).to_i < (3600 * 48) %>
        <%= (Time.now - @question.created_at).to_i / 3600 %> hr. ago
        <% else %>
        <%= (Time.now - @question.updated_at).to_i / (3600 * 24) %> days ago
      <% end %>
      by <%= link_to User.find(@question.user_id).username %>
</small>

</div>



      

    
<p class="media-body mb-0 small lh-125 border-bottom border-info">
<div class="form-group">
      <% if @question.image.attached? %>
        <h3>Tec Image:</h3> 
        <td><%= image_tag(@question.image,{:style => "width:400px;margin-left:600px" 'align-items-center'}) %></td>
      <% end %>   
</div>
<div class="form-group">
      <h3>Previous Answers</h3>
      <% @question.answers.each do |answer| %>
        <p>
          
          <strong>Description: </strong>
          <%= answer.body %>
          <br>
          
        </p>
        
      <% end %>
</div>

<div class="form-group">
       <h3>Add Answer:</h3>
      
<% if current_user %>
  <%= form_with(model: [@question, @question.answers.build ], local: true, :html => {:class => 'form-row col-6 ml-3'}) do |form| %>
 
    <div class="form-group mx-3 mb-2">
       <%= form.label :description %><br> 
       <%= form.text_area :body, :class => 'form-control-lg' %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :question_id, :value => @question.id %>
     
  
        
        <div class="input-group-prepend">
        
         
          <%= submit_tag "Submit", :class => "btn btn-lg btn-info btn-block" %>
        </div>
          
    </div>
  <% end %>
<% end %> 

   
      
   
