<nav class="d-flex flex-column justify-content-centerjustify-content-lg-between flex-lg-row navbar fixed-top navbar-dark bg-info">
  <%= link_to "Home", root_path, :class => 'btn btn-outline-light' %>
  <div class="btn-group">
        <% if !current_user %>
            <%= link_to "Login", new_session_path, :class => 'btn btn-outline-light' %>
            <%= link_to "Sign Up", new_user_path, :class => 'btn btn-outline-light' %>
        <% else %>
            <%= link_to 'New Question', new_question_path, :class => 'btn text-info btn-light' %>
            <%= link_to "Log Out", session_path, method: :delete, :class => 'btn btn-outline-light' %>
            <%= link_to current_user.username, current_user, :class => 'btn btn-outline-light' %>
        <% end %>
    </div>
</nav>
<h2>Your Answers, please valid them</h2>
<% @question.answers.each do |answer| %>
  <p>
        <strong>Description:</strong>
        <%= answer.body %>
        <%# <% if current_user.id == @question.user_id %>

        <%= check_box :ok_answer, value: true %>
        <%= "Correct Answer" %>
        <%# Buscar codigo de Whines para crear el update y redireccionar el link %>
        <%# <td><%= link_to "Validate Answer", question_answer_path, method: :update</td> %> %>

      <%# <% end %> %>

  <% if answer.ok_answer == true %>
    <p>User Validated Answer</p>
  <% end %>
        </p>
        
<% end%>
