<main role="main">
  <div class="container">
    <div class="my-3 p-3 bg-light">
      <h6 class="border-bottom border-info pb-2 mb-0">Questions</h6>
     
      <% questions.each do |question| %>
           <div class="d-flex flex-column mx-5 h-100">
               <p class="media-body mb-0 border-bottom border-info">
               
            <strong class="d-block text-gray-dark"><%= link_to question.title, question_answers_path(question)%></strong>
            <br>
            <small class="text-muted text-center"><%= question.body %>
              <% if (Time.now - question.updated_at).to_i < 60 %>
                <%= (Time.now - question.created_at).to_i %> sec. ago
              <% elsif (Time.now - question.updated_at).to_i < 3600 %>
                <%= (Time.now - question.created_at).to_i / 60 %> min. ago
              <% elsif (Time.now - question.updated_at).to_i < (3600 * 48) %>
                <%= (Time.now - question.created_at).to_i / 3600 %> hr. ago
              <% else %>
                <%= (Time.now - question.updated_at).to_i / (3600 * 24) %> days ago
              <% end %>
            by <%= link_to User.find(question.user_id).username, User.find(question.user_id), :style => 'font-size:.75rem' %>
            </small>
            <% end %>
            
          </div>
          </div>
          </p>
        </div>
    </div>
  </div>
</main>